# ignorar la carpeta de construcciones
/build/

# ignorar la carpeta de configuracion privada
/nbproject/private
/dist/

# ignorar el mainProvisional.java (donde puede experimentar cualquiera en su rama)
/src/interfaces/mainProvisional.java
